In [3]:
import pandas as pd

In [4]:
med_new_wind = './medicanes_new_windows.csv'
df = pd.read_csv(med_new_wind)

In [7]:
mapping = df.groupby('id_final', as_index=False).agg(start_time=('start_time','first'),
                                                     end_time=('end_time','first')).sort_values('id_final')
mapping['start_time'] = pd.to_datetime(mapping['start_time'])
mapping = mapping.sort_values('start_time').reset_index(drop=True)
mapping

    id_final          start_time             end_time
0    7001283 2010-10-12 12:55:00  2010-10-13 13:25:00
1    7001328 2011-11-05 22:55:00  2011-11-08 08:05:00
2    7001358 2012-04-13 04:15:00  2012-04-14 21:00:00
3    7001421 2013-11-18 22:00:00  2013-11-20 09:00:00
4    7001461 2014-11-07 00:10:00  2014-11-08 14:00:00
5    7001466 2014-11-30 06:25:00  2014-12-03 06:30:00
6    7001500 2015-09-30 21:25:00  2015-10-01 21:00:00
7    7001521 2016-02-28 23:20:00  2016-03-01 08:05:00
8    7001542 2016-10-28 06:30:00  2016-10-31 01:50:00
9    7001575 2017-11-16 14:45:00  2017-11-18 12:40:00
10   7001674 2019-11-10 09:30:00  2019-11-11 17:30:00
11   7001702 2020-09-14 23:50:00  2020-09-18 19:40:00
12   7001715 2020-12-13 08:20:00  2020-12-16 13:45:00
13   7001716 2020-12-25 10:35:00  2020-12-27 10:50:00
14     39299 2021-10-28 10:35:00  2021-10-30 13:00:00
15     82258 2021-11-08 10:20:00  2021-11-09 06:35:00
16     83565 2023-02-27 19:00:00  2023-03-02 13:30:00
17     46218 2023-09-05 03:20:00  2023-09-10 02:00:00

In [8]:
mapping['end_time'] = pd.to_datetime(mapping['end_time'])
mapping['durata'] = (mapping['end_time'] - mapping['start_time']).dt.total_seconds() / 3600
mapping

    id_final          start_time            end_time      durata
0    7001283 2010-10-12 12:55:00 2010-10-13 13:25:00   24.500000
1    7001328 2011-11-05 22:55:00 2011-11-08 08:05:00   57.166667
2    7001358 2012-04-13 04:15:00 2012-04-14 21:00:00   40.750000
3    7001421 2013-11-18 22:00:00 2013-11-20 09:00:00   35.000000
4    7001461 2014-11-07 00:10:00 2014-11-08 14:00:00   37.833333
5    7001466 2014-11-30 06:25:00 2014-12-03 06:30:00   72.083333
6    7001500 2015-09-30 21:25:00 2015-10-01 21:00:00   23.583333
7    7001521 2016-02-28 23:20:00 2016-03-01 08:05:00   32.750000
8    7001542 2016-10-28 06:30:00 2016-10-31 01:50:00   67.333333
9    7001575 2017-11-16 14:45:00 2017-11-18 12:40:00   45.916667
10   7001674 2019-11-10 09:30:00 2019-11-11 17:30:00   32.000000
11   7001702 2020-09-14 23:50:00 2020-09-18 19:40:00   91.833333
12   7001715 2020-12-13 08:20:00 2020-12-16 13:45:00   77.416667
13   7001716 2020-12-25 10:35:00 2020-12-27 10:50:00   48.250000
14     39299 2021-10-28 10:35:00 2021-10-30 13:00:00   50.416667
15     82258 2021-11-08 10:20:00 2021-11-09 06:35:00   20.250000
16     83565 2023-02-27 19:00:00 2023-03-02 13:30:00   66.500000
17     46218 2023-09-05 03:20:00 2023-09-10 02:00:00  118.666667

In [9]:
# mostra la colonna 'durata' arrotondata a 1 cifra
mapping['durata'] = mapping['durata'].round(1)
mapping

    id_final          start_time            end_time  durata
0    7001283 2010-10-12 12:55:00 2010-10-13 13:25:00    24.5
1    7001328 2011-11-05 22:55:00 2011-11-08 08:05:00    57.2
2    7001358 2012-04-13 04:15:00 2012-04-14 21:00:00    40.8
3    7001421 2013-11-18 22:00:00 2013-11-20 09:00:00    35.0
4    7001461 2014-11-07 00:10:00 2014-11-08 14:00:00    37.8
5    7001466 2014-11-30 06:25:00 2014-12-03 06:30:00    72.1
6    7001500 2015-09-30 21:25:00 2015-10-01 21:00:00    23.6
7    7001521 2016-02-28 23:20:00 2016-03-01 08:05:00    32.8
8    7001542 2016-10-28 06:30:00 2016-10-31 01:50:00    67.3
9    7001575 2017-11-16 14:45:00 2017-11-18 12:40:00    45.9
10   7001674 2019-11-10 09:30:00 2019-11-11 17:30:00    32.0
11   7001702 2020-09-14 23:50:00 2020-09-18 19:40:00    91.8
12   7001715 2020-12-13 08:20:00 2020-12-16 13:45:00    77.4
13   7001716 2020-12-25 10:35:00 2020-12-27 10:50:00    48.2
14     39299 2021-10-28 10:35:00 2021-10-30 13:00:00    50.4
15     82258 2021-11-08 10:20:00 2021-11-09 06:35:00    20.2
16     83565 2023-02-27 19:00:00 2023-03-02 13:30:00    66.5
17     46218 2023-09-05 03:20:00 2023-09-10 02:00:00   118.7